# Mac OS X
.DS_Store

# Project ignored files
venv
.env
*.pyc
staticfiles
db.sqlite3
/node_modules
/website/static/dist/*.json
/website/static/dist/*.js
/website/static/dist/*.js.map

# Code editors
.idea/
.vscode/
/.pytest_cache
/.coverage
/htmlcov
/coverage
