# Mac OS X
.DS_Store

# Project ignored files
venv
.env
*.pyc
staticfiles
db.sqlite3
/node_modules
/website/static/dist/app.bundle.js
/website/static/dist/app.bundle.js.map

# Code editors
.idea/
.vscode/
/.pytest_cache
/.coverage
/htmlcov
