a {
    color: #924da3;
}

.page-content {
    margin: 12px auto 30px;
    max-width: 900px;
}

.weather-nav {
    margin-bottom: 12px;
}

.weather__location {
    margin: 0 0 24px;
}
.weather__date,
.weather__min-max,
.weather__temperature {
    display: block;
}
.weather__date {
    font-weight: 600;
}
.weather__min-max {
    font-weight: 300;
}
.weather__temperature {
    font-size: 2.6rem;
    line-height: 1.2;
}
.weather__icon {
    color: #924da3;
    font-size: 3rem;
    line-height: 1.5;
}
.weather__icon--large {
    font-size: 10rem;
}
.weather__icon-name {
    display: block;
    font-size: 2.4rem;
}

.forecast {
    margin: 36px 0;
}
.forecast__group {
    margin: 0 0 18px;
}
.forecast__data-wrp {
    overflow: scroll;
}
.forecast__data {
    display: flex;
    padding: 0 0 12px;
}
.forecast__hour {
    flex-shrink: 0;
    text-align: center;
    margin: 0 12px;
}
.forecast__date {
    flex-shrink: 0;
    font-size: 0.8rem;
    text-align: center;
    width: 25%;
}
.forecast__date .weather__icon {
    font-size: 2.4rem;
}
