.weather {
    margin: 30px 0;
}
.weather__location {
    margin: 0 0 24px;
}
.weather__date,
.weather__min-max,
.weather__temperature {
    display: block;
}
.weather__date {
    font-weight: 600;
}
.weather__min-max {
    font-weight: 300;
}
.weather__temperature {
    font-size: 2.6rem;
    line-height: 1.2;
}
.weather__icon {
    color: #924da3;
    font-size: 3rem;
    line-height: 1.2;
}
.weather__icon--large {
    font-size: 10rem;
}
.weather__icon-name {
    display: block;
    font-size: 2.4rem;
}

.forecast {
    margin: 60px 0;
}
.forecast__data-wrp {
    overflow: scroll;
}
.forecast__data {
    display: flex;
    margin: 0 -12px;
    padding: 0 0 12px;
}
.forecast__hour {
    flex-shrink: 0;
    text-align: center;
    margin: 0 12px;
}
