.weather {
    margin: 30px 0;
}
.weather__location {
    margin: 0 0 24px;
}
.weather__date,
.weather__min-max,
.weather__temperature {
    display: block;
}
.weather__date {
    font-weight: 600;
}
.weather__min-max {
    font-weight: 300;
}
.weather__temperature {
    font-size: 2.6rem;
    line-height: 1.2;
}
.weather__icon-name {
    display: block;
    font-size: 1.2rem;
}

.forecast {
    margin: 60px 0;
}
