{% extends "base.html" %}

{% block content %}

    <div class="weather">
        <h1 class="weather__location">{{ weather_data.location_name }}</h1>

        <div class="row">
            <div class="col">
                <span class="weather__date">{{ weather_data.data_time|date:'F j, G:i' }}</span>
                <span class="weather__min-max">
                    min: {{ weather_data.temperature_min }}&#x2103;,
                    max: {{ weather_data.temperature_max }}&#x2103;
                </span>
                <span class="weather__temperature">
                    {{ weather_data.temperature }}&#x2103;
                </span>
            </div>
            <div class="col-auto">
                <div class="text-center">
                    <img class="weather__icon" src="{{ weather_data.weather_icon }}" alt="{{ weather_data.weather_name }}">
                    <span class="weather__icon-name">{{ weather_data.weather_name }}</span>
                </div>
            </div>
        </div>
    </div>


{#    <hr>#}
{#    <div>#}
{#        JSON response:#}
{#        <pre>{{ weather_data }}</pre>#}
{#    </div>#}
{% endblock %}
